OPENROUTER_API_KEY=your_openrouter_api_key_here

OPENWEATHER_API_KEY=your_openweather_api_key_here

CONTEXT7_API_KEY=your_context7_api_key_here

LANGSMITH_TRACING=true

LANGSMITH_API_KEY=your_langsmith__api_key_here

LANGSMITH_PROJECT=weather-docs-agent

DATABASE_URL=postgresql://postgres:your_password@localhost:5432/weather_agent_db